<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/admin.css">
    <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">

        <%- include('../includes/header') %>
        
        <div class="nav">
            <ul>
                <li id=""><a href="/">Store</a></li>
                <li id=""><a href="">Dashboard</a></li>
                <li id=""><a href="">Orders</a></li>
                <li id=""><a href="">Accounting</a></li>
                <li id=""><a href="/admin/add-product/0">Admin Page</a></li>
            </ul>
        </div>
       
        <div class="main">

            <div class="new-book-div">
                <h3 class="center center-text"><% if(edit) {%>Edit Product<%} else {%>Add Product<%} %></h3>
                <div class="form-wrapper">
                    <form id="new-book-form" class="center" action="/admin/<% if(edit) {%>savebook/?edit=true<%} else {%>savebook<%} %>" method="POST">
                        <div class="input-field">
                            <p class="input-label">Title</p>
                           <input type="text" id="book_title" name="BookTitle" value="<% if(edit) {%><%= editBook.title %><%} else {%><%} %>" />
                        </div>
                        <div class="input-field">
                            <p class="input-label">Author</p>
                            <input type="text" id="Author" name="Author" value="<% if(edit) {%><%= editBook.author %><%} else {%><%} %>">
                        </div>
                        <div class="input-field">
                            <p class="input-label">Year</p>
                            <input type="text" id="Year" name="Year" value="<% if(edit) {%><%= editBook.year %><%} else {%><%} %>">
                        </div class="input-field">
                        <div class="input-field">
                            <p class="input-label">Caption</p>
                            <textarea type="text" id="Caption" rows="5"  name="Caption" ><% if(edit) {%><%=editBook.caption %><%} else {%><%} %> </textarea>
                        </div class="input-field">
                        <div class="input-field">
                            <p class="input-label">Price</p>
                            <input type="text" id="Price" name="Price" value="<% if(edit) {%><%= editBook.price %><%} else {%><%} %>">
                        </div class="input-field">
                        <div class="input-field">
                            <p class="input-label">Cover Image</p>
                            <input type="text" id="Price" name="Cover" value="<% if(edit) {%><%= editBook.img %><%} else {%><%} %>">
                        </div class="input-field">

                        <input type="hidden" id="id" name="Id" value="<% if (edit) {%> <%= editBook.id %><%} else {%><%=null%><%} %>">

                        <button id="register_book_button" class="btn center" type="submit" ><% if(edit) {%>Update Product<%} else {%>Add Product<%} %></button>
                    </form>
                </div>
            </div>

            
            <div class="book-list">
                <% booksData.forEach(element => { %>
                    <div class="book-container">
                        <div class="cover-wrapper">
                            <img class="book-cover" src = <%= element.img %> </img>
                        </div>
                        <p class= book-title> <%= element.title %> <span>(<%= element.year %>)</span></p>
                        <p class="author"><%= element.author %></p>
                        <span class='price'>$<%= element.price %></span>
                        <form action="/admin/add-product/<%= element.id %>/?edit=true" method="POST">
                            <button type="submit" class="btn">Edit</button>
                        </form>                        
                        <form action="/admin/delete/<%= element.id %>" method="POST">
                            <button type="submit" class="btn">Delete</button>
                        </form>

                    </div>
                    <% }) %>
                </div>
                
        </div>
                


    <script src="../main.js"></script>
</body>
</html>