<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type='text/css' href="../main.css">
    <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">

        <%- include('includes/header') %>
        
        <div class="nav">
            <ul>
                <li id=""><a href="/">Home</a></li>
                <li id=""><a href="">Books</a></li>
                <li id=""><a href="/cart">Cart</a></li>
                <li id=""><a href="">About Us</a></li>
                <li id=""><a href="">Contact</a></li>
                <li id=""><a href="/admin/add-product/0">Admin Page</a></li>
            </ul>
        </div>

        <div class="main">
            <div class="book-list">
                <% booksData.forEach(element => { %>
                    <div class="book-container">
                            <div class="cover-wrapper">
                                <a href="/products/<%= element.id %>">
                                    <img class="book-cover" src = <%= element.img %> />
                                </a>
                            </div>
                            <p class= book-title> <%= element.title %> <span>(<%= element.year %>)</span></p>
                            <p class="author"><%= element.author %></p>
                            <span class='price'>$<%= element.price %></span>
                            <form action="/cart/<%= element.id %>" method="POST">
                                <!-- <input type="hidden" name="id" value="<%= element.id %>"> -->
                                <button class="btn" type="submit">Add to Cart</button>
                            </form>
                    </div>
                <% }) %>
            </div>

        </div>

        <div class="aside-left">

        </div>
        
        <div class="footer">


        </div>

    </div>




    <script src="../main.js"></script>
</body>
</html>